---
name: "{{ agent_client_collector_config_name }}"
backend-url:
{% for url in agent_client_collector_config_backend_url %}
  - "{{ url }}"
{% endfor %}

{% if agent_client_collector_config_api_key is defined %}
api-key: "{{ agent_client_collector_config_api_key }}"
{% endif %}

agent-key-id: {{ agent_client_collector_config_agent_key_id | default('') }}

{% if agent_client_collector_config_user is defined and agent_client_collector_config_password is defined and agent_client_collector_config_api_key is not defined %}
user: "{{ agent_client_collector_config_user }}"
password: "{{ agent_client_collector_config_password }}"
{% endif %}

log-level: "{{ agent_client_collector_config_log_level }}"

skip-tls-verify: {{ agent_client_collector_config_skip_tls_verify }}
{% if agent_client_collector_config_trusted_ca_file is defined %}
trusted-ca-file: "{{ agent_client_collector_config_trusted_ca_file }}"
{% endif %}

allow-list: "{{ agent_client_collector_config_allow_list }}"

redact:
{% for item in agent_client_collector_config_redact %}
  - "{{ item }}"
{% endfor %}

verify-plugin-signature: {{ agent_client_collector_config_verify_plugin_signature }}
max-running-checks: {{ agent_client_collector_config_max_running_checks }}

agent_cpu_threshold:
  cpu_percentage_limit: {{ agent_client_collector_config_agent_cpu_threshold_cpu_percentage_limit }}
  repeated_high_cpu_num: {{ agent_client_collector_config_agent_cpu_threshold_repeated_high_cpu_num }}
  monitor_interval_sec: {{ agent_client_collector_config_agent_cpu_threshold_monitor_interval_sec }}
  agent_cpu_threshold_disabled: {{ agent_client_collector_config_agent_cpu_threshold_agent_cpu_threshold_disabled }}
  proxy_cpu_percentage_limit: {{ agent_client_collector_config_agent_cpu_threshold_proxy_cpu_percentage_limit }}

disable-sockets: {{ agent_client_collector_config_disable_sockets }}
statsd-disable: {{ agent_client_collector_config_statsd_disable }}
check-commands-prefer-installed: {{ agent_client_collector_config_check_commands_prefer_installed }}

enable-auto-mid-selection: {{ agent_client_collector_config_enable_auto_mid_selection }}
